<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/common}">
<div layout:fragment="content">
    <div>
        <h2>환불 대상자</h2>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="thead">
            <tr>
                <th>주문자</th>
                <th>가격</th>
                <th>주문번호</th>
                <th>구매날짜</th>
                <th>환불날짜</th>
                <th>상태</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="dto, status:${list}">
            <td>[[${dto.memberId}]]</td>
            <td>[[${dto.orderPrice}]]</td>
            <td>[[${dto.orderNumber}]]</td>
            <td>[[${dto.orderDate}]]</td>
            <td>[[${dto.leaveDate}]]</td>
            <td>
                <span class="badge badge-success" th:if="${dto.status == 'Y'}">환불전</span>
                <span class="badge badge-danger" th:if="${dto.status != 'Y' or dto.status == 'D'}">환불 완료</span>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <div th:replace="~{/common/paging :: paging}"></div>-->
</div>



