<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.AdminMapper">
    <select id="selectAdminById" resultType="inflearn_clone.springboot.domain.AdminVO">
        SELECT adminId, adminPwd
        FROM tbl_admin
        WHERE adminId = #{adminId}
    </select>
</mapper>    