<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.BbsMapper">
    <insert id="insert">
        INSERT INTO tbl_bbs(category, title, content, displayDate, filePath, writerId)
        VALUES (#{category}, #{title}, #{content}, #{displayDate}, #{filePath}, #{writerId})
    </insert>
    <update id="update">
        UPDATE tbl_bbs SET
        title = #{title},
        content = #{content},
        displayDate = #{displayDate},
        filePath = #{filePath}
        WHERE idx = #{idx}
    </update>
    <delete id="delete">
        DELETE FROM tbl_bbs
        WHERE idx = #{idx}
    </delete>
    <select id="list" resultType="inflearn_clone.springboot.domain.BbsVO">
        SELECT * FROM tbl_bbs
        <where>
            <if test="searchCategory != null and searchValue != null">
                <choose>
                    <when test ="searchCategory == 'title'">
                        title LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test ="searchValue == 'writerId'">
                        writerId LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test ="searchCategory == 'regDate'">
                        regDate LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test ="searchValue == 'displayDate'">
                        displayDate LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </if>
            AND category = 'N'
        </where>
        ORDER BY regDate DESC
        ${sortQuery}
        LIMIT #{offset}, #{limit}
    </select>
    <select id="view" resultType="inflearn_clone.springboot.domain.BbsVO">
        SELECT * FROM tbl_bbs
        WHERE idx = #{idx}
    </select>

    <update id="updateDeleteDate">
        UPDATE tbl_course
        SET deleteDate = #{deleteDate}
        WHERE idx = #{idx}
    </update>

    <select id="noticeTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM tbl_bbs
        <where>
            <if test="searchCategory != null and searchValue != null">
                <choose>
                    <when test="searchCategory == 'title'">
                        title LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchCategory == 'writerId'">
                        writerId LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test ="searchCategory == 'regDate'">
                        regDate LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test ="searchValue == 'displayDate'">
                        displayDate LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                </choose>
            </if>
            AND category = 'N'
        </where>
    </select>
</mapper>    