<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//En"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inflearn_clone.springboot.mappers.CartMapper">

    <insert id="regist">
        INSERT INTO tbl_cart (courseIdx, memberId, regDate)
        VALUES (#{courseIdx}, #{memberId}, NOW())
    </insert>

    <select id="cartCnt" resultType="int">
        SELECT COUNT(*)
        FROM tbl_cart
        WHERE courseIdx = #{courseIdx} AND memberId = #{memberId}
    </select>

    <select id="cartList" resultType="inflearn_clone.springboot.dto.cart.CartOrderDTO">
        SELECT c.idx, c.courseIdx, c.memberId, c.regDate, co.title, co.price, co.teacherId, co.thumbnail
        FROM tbl_cart c
        JOIN tbl_course co ON c.courseIdx = co.idx
        WHERE c.memberId = #{memberId}
        ORDER BY  c.regDate DESC
    </select>

    <select id="goOrder" resultType="inflearn_clone.springboot.dto.cart.CartOrderDTO">
        SELECT c.idx, c.courseIdx, c.memberId, co.title, co.price, co.teacherId
        FROM tbl_cart c
        JOIN tbl_course co ON c.courseIdx = co.idx
        WHERE c.memberId = #{memberId}
        AND c.idx IN
        <foreach item="idx" collection="idxList" open="(" separator="," close=")">
            #{idx}
        </foreach>
    </select>

    <delete id="delete">
        DELETE FROM tbl_cart
        WHERE memberId = #{memberId}
        AND idx IN
        <foreach item="idx" collection="idxList" open="(" separator="," close=")">
            #{idx}
        </foreach>
    </delete>

    <select id="getCartCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_cart
        WHERE memberId = #{memberId}
    </select>
</mapper>