<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.CourseMapper">

    <select id="courseList" resultType="inflearn_clone.springboot.domain.CourseVO">
        SELECT
            idx, category, title, description, teacherId, regDate, displayDate, status, price, thumbnail
        FROM tbl_course
        WHERE status = 'Y'
        ORDER BY regDate DESC;
    </select>

    <select id="courseView" parameterType="int" resultType="inflearn_clone.springboot.domain.CourseVO">
        SELECT
            idx, category, title, description, teacherId, regDate, displayDate, modifyDate, price, thumbnail
        FROM tbl_course
        WHERE idx = #{idx} AND status = 'Y';
    </select>

    <select id="courseTotalCnt" resultType="int">
        SELECT COUNT(*)
        FROM tbl_course
        <where>
            <if test="searchCategory != null and searchValue != null">
                <choose>
                    <when test="searchCategory == 'title'">
                        title LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchCategory == 'teacherId'">
                        `teacherId` LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchCategory == 'category'">
                        category LIKE CONCAT('%', #{searchValue}, '%')  <!-- 검색어를 카테고리 코드로 -->
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="selectAllCourse" resultType="inflearn_clone.springboot.domain.CourseVO">
        SELECT
        idx, category, title, description, teacherId, regDate, displayDate, status, price, thumbnail
        FROM tbl_course
        <where>
            <if test="searchCategory != null and searchValue != null">
                <choose>
                    <when test="searchCategory == 'title'">
                        title LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchCategory == 'teacherId'">
                        `teacherId` LIKE CONCAT('%', #{searchValue}, '%')
                    </when>
                    <when test="searchCategory == 'category'">
                        category LIKE CONCAT('%', #{searchValue}, '%')  <!-- 검색어를 카테고리 코드로 -->
                    </when>
                    <otherwise>
                        1=1
                    </otherwise>
                </choose>
            </if>
        </where>
        ${sortQuery}
        LIMIT #{offset}, #{limit}
    </select>


</mapper>

