<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.CourseMapper">
    <!-- 강좌 리스트 조회 -->
    <select id="courseList" resultType="inflearn_clone.springboot.domain.CourseVO">
        SELECT
            idx, category, title, description, teacherId, regDate, displayDate, status, price, thumbnail
        FROM tbl_course
        WHERE status = 'Y'
        ORDER BY regDate DESC;
    </select>

    <!-- 강좌 상세 조회 -->
    <select id="courseView" parameterType="int" resultType="inflearn_clone.springboot.domain.CourseVO">
        SELECT
            idx, category, title, description, teacherId, regDate, displayDate, modifyDate, price, thumbnail
        FROM tbl_course
        WHERE idx = #{idx} AND status = 'Y';
    </select>
</mapper>

