<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.LessonMapper">
    <insert id="insertLesson">
        INSERT INTO tbl_lesson (sectionIdx, title, video)
        VALUES (#{sectionIdx}, #{title}, #{video})
    </insert>
    <select id="getLessons" resultType="inflearn_clone.springboot.domain.LessonVO">
        SELECT * FROM tbl_lesson
        WHERE sectionIdx = #{sectionIdx}
    </select>
    <update id="updateLesson">
        UPDATE tbl_lesson
        SET title = #{title}
        <if test="video != null and video != ''">
            , video = #{video}
        </if>
        WHERE idx = #{idx}
    </update>
<!--    동영상페이지-->
    <select id="getLessonById">
        SELECT * FROM tbl_lesson WHERE idx = #{lessonIdx}
    </select>

    <select id="getCourseIdxByLessonId">
        SELECT s.courseIdx
        FROM tbl_section s
                 JOIN tbl_lesson l ON s.idx = l.sectionIdx
        WHERE l.idx = #{lessonIdx}
    </select>

    <select id="getPreviousLesson">
    <![CDATA[
        SELECT l.*
        FROM tbl_lesson l
                 JOIN tbl_section s ON l.sectionIdx = s.idx
        WHERE s.courseIdx = (
            SELECT s2.courseIdx
            FROM tbl_section s2
                     JOIN tbl_lesson l2 ON s2.idx = l2.sectionIdx
            WHERE l2.idx = #{lessonIdx}
        )
          AND l.idx < #{lessonIdx}
        ORDER BY l.idx DESC
            LIMIT 1
        ]]>
    </select>

    <select id="getNextLesson">
 <![CDATA[
        SELECT l.*
        FROM tbl_lesson l
                 JOIN tbl_section s ON l.sectionIdx = s.idx
        WHERE s.courseIdx = (
            SELECT s2.courseIdx
            FROM tbl_section s2
                     JOIN tbl_lesson l2 ON s2.idx = l2.sectionIdx
            WHERE l2.idx = #{lessonIdx}
        )
          AND l.idx > #{lessonIdx}
        ORDER BY l.idx ASC
            LIMIT 1
        ]]>
    </select>
  
    <select id="getVideo" resultType="java.lang.String">
        SELECT video FROM tbl_lesson
        WHERE idx=${lessonIdx}
    </select>
</mapper>    