<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inflearn_clone.springboot.mappers.LessonMapper">
    <insert id="insertLesson">
        INSERT INTO tbl_lesson (sectionIdx, title, video)
        VALUES (#{sectionIdx}, #{title}, #{video})
    </insert>
    <select id="getLessons" resultType="inflearn_clone.springboot.domain.LessonVO">
        SELECT * FROM tbl_lesson
        WHERE sectionIdx = #{sectionIdx}
    </select>
    <update id="updateLesson">
        UPDATE tbl_lesson
        SET title = #{title}
        <if test="video != null and video != ''">
            , video = #{video}
        </if>
        WHERE idx = #{idx}
    </update>
</mapper>    