<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/common}">
<div layout:fragment="content">
    <div>
        <h2>공지사항 목록</h2>
    </div>
    <div class="search-container">
        <form action="/admin/member/sList" method="get" class="d-flex align-items-center">
            <select class="form-select" name="searchCategory">
                <option value="">카테고리</option>
                <option value="name" >이름</option>
                <option value="memberId">회원 ID</option>
                <option value="email">회원 이메일</option>
            </select>
            <input type="search" class="form-control" name="searchValue" placeholder="내용">
            <select class="form-select" name="sortOrder">
                <option value="">정렬순</option>
                <option value="DESC">내림차순</option>
                <option value="ASC">오름차순</option>
            </select>
            <select class="form-select" name="sortType">
                <option value="">정렬내용</option>
                <option value="regDate">등록일</option>
                <option value="teacherId">강사명</option>
                <option value="name">이름</option>
            </select>
            <button class="btn btn-primary" type="submit">검색</button>
            <button class="btn btn-secondary" type="reset">취소</button>
        </form>
    </div>
    <table class="table table-bordered table-hover" th:if="${notice}">
        <thead class="thead">
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>공개일</th>
            <th>첨부파일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto, status:${notice}">
            <td>#</td>
            <td><a th:href="@{/admin/notice/view(idx=${dto.getIdx()})}">[[${dto.title}]]</a></td>
            <td>[[${dto.writerId}]]</td>
            <td th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}">
            <td th:if="${dto.displayDate != null}" th:text="${#temporals.format(dto.displayDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:if="${dto.displayDate == null}" th:text="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:if="${dto.filePath != null}">
                <a th:href="@{/file/download(fileName=${dto.fileName})}" th:text="'O'"></a>
            </td>
            <td th:if="${dto.filePath == null}"></td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{/common/paging :: paging}"></div>
    <p th:if="${notice.isEmpty()}">
        등록된 공지사항이 없습니다.
    </p>
    <div class="d-flex justify-content-end mt-3">
        <a th:href="@{/admin/notice/insert}" class="btn btn-primary">등록</a>
    </div>
</div>
