<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout.html}"
>
  <!-- <th:block layout:fragment="css">
      <link rel="stylesheet" th:href="@{/css/myPage/studentMyPage.css}">
  </th:block> -->
  <style>
    .cccccc {
      display: flex;
      justify-content: center;
    }
    .myPageContainer {
      width: 1500px;
      color: red;
    }
  </style>

  <div layout:fragment="main">
    <div class="cccccc">
      <div class="myPageContainer">아 그지같네ㅇㅇㅇㅇ</div>
    </div>
  </div>
</html>
