<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout.html}"
>
<head>
    <link rel="stylesheet" href="/css/course/courseStyle.css">
    <title>강의 리스트</title>
</head>
<body>
<div layout:fragment="main">
    <h1>리스트</h1>
    <main class="main-content">
        <section class="filters">
            <button>전체</button>
            <button>개발·프로그래밍</button>
            <button>인공지능</button>
            <button>하드웨어</button>
            <button>기획·경영·마케팅</button>
            <button>커리어·자기계발</button>
            <select class="sort-dropdown">
                <option value="recent">최신순</option>
                <option value="rating">평점높은순</option>
                <option value="rating">평점낮은순</option>
            </select>
        </section>
        <section class="filters">
            <button>검색</button>
        </section>
        <section class="courses">
            <!-- 데이터가 있을 경우 반복 출력 -->
            <div class="course-card" th:each="course : ${courseList}">
                <a th:href="@{/course/view/{idx}(idx=${course.idx})}">
                <img th:src="${course.thumbnail}" alt="강의 이미지">
                <div class="content">
                    <h3 class="title" th:text="${course.title}"></h3>
                    <p class="instructor" th:text="'강사: ' + ${course.teacherId}"></p>
                    <p class="price" th:text="'₩' + ${course.price}"></p>
                    <div class="rating">
                        <span>★ 4.9</span>
                        <span>(594)</span>
                    </div>
                </div>
                </a>
            </div>
            <!-- 데이터가 없을 경우 메시지 출력 -->
            <p class="no-data-message" th:if="${courseList == null or courseList.isEmpty()}">
                표시할 데이터가 없습니다.
            </p>
        </section>
    </main>
<!--    <div th:replace="~{/common/paging :: paging}"></div>-->
</div>
</body>
</html>