<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/common}">
<div layout:fragment="content">
    <h2>상세</h2>
    <div class="container mt-5">
        <div class="mb-3">
            <label for="memberId" class="form-label">회원 ID</label>
            <input type="text" class="form-control" id="memberId" name="memberId" th:value="${info.memberId}" readonly>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">탈퇴 사유</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" th:text="${info.leaveReason}" readonly></textarea>
        </div>
        <button type="submit" class="btn btn-primary" th:onclick="|location.href= '@{/admin/member/delete(memberId=${info.memberId}, memberType=T)}'|">승인</button>
        <button type="reset" class="btn btn-secondary">거절</button>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</div>

