<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout.html}"
>
<div layout:fragment="main">
  <div class="container mt-5">
    <h2 class="text-center mb-4">강좌 수정</h2>
    <form id="courseForm" method="POST" enctype="multipart/form-data" action="/teacher/course/modify">
      <div class="mb-3">
        <label for="title" class="form-label">강좌 제목</label>
        <input type="text" class="form-control" id="title" name="title" th:value="${course.title}" placeholder="강좌 제목" required />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">강좌 소개</label>
        <textarea class="form-control" id="description" th:text="${course.description}" name="description" placeholder="강좌 소개" rows="4" required></textarea>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">카테고리</label>
        <select class="form-control" id="category" name="category" required>
          <option value="D" th:selected="${course.category == 'D'}">개발</option>
          <option value="A" th:selected="${course.category == 'A'}">인공지능</option>
          <option value="H" th:selected="${course.category == 'H'}">하드웨어</option>
          <option value="C" th:selected="${course.category == 'C'}">커리어,자기계발</option>
          <option value="M" th:selected="${course.category == 'M'}">기획,경영,마케팅</option>
        </select>

      </div>

      <div class="mb-3">
        <label for="price" class="form-label">가격</label>
        <input type="number" class="form-control" id="price" name="price" th:value="${course.price}" placeholder="가격" required />
      </div>

      <div class="mb-3">
        <label for="displayDate" class="form-label">강좌 노출일</label>
        <input type="datetime-local" class="form-control" id="displayDate" th:value="${#temporals.format(course.displayDate, 'yyyy-MM-dd HH:mm:ss')}" name="displayDate" required />
      </div>

      <div class="mb-3">
        <label for="thumbnailFile" class="form-label">썸네일 이미지</label>
        <img th:src="${course.thumbnail}" width="300px;" alt="강의썸네일">
        <input type="file" accept="image/jpeg, image/png, image/jpg" class="form-control" id="thumbnailFile" name="thumbnailFile" onchange="checkFileExtension()"/>
        <span style="color:#ff6c6c;">썸네일 재등록 시 기존 썸네일은 삭제됩니다.</span>
      </div>
      <input type="hidden" name="idx" th:value="${course.idx}">
      <input type="hidden" name="teacherId" th:value="${course.teacherId}">
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">다음</button>
      </div>
    </form>
  </div>
  <script>
    function checkFileExtension() {
      const fileInput = document.getElementById('thumbnailFile');
      const file = fileInput.files[0];  // 선택된 파일 객체
      const filePath = fileInput.value;
      const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;  // 허용할 확장자 설정

      // 확장자 체크
      if (!allowedExtensions.exec(filePath)) {
        alert('이미지 파일만 업로드 가능합니다 (jpg, jpeg, png)');
        fileInput.value = '';  // 잘못된 파일을 선택한 경우 input을 초기화
        return false;
      }

      // 파일 크기 체크 (1MB 이하)
      const maxFileSize = 1 * 1024 * 1024;  // 1MB를 바이트로 변환
      if (file.size > maxFileSize) {
        alert('파일 크기는 1MB 이하만 업로드 가능합니다.');
        fileInput.value = '';  // 파일 크기가 초과되면 input을 초기화
        return false;
      }

      return true;  // 파일이 확장자와 크기 조건을 만족하면 true 반환
    }
  </script>
</div>

